*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--foregroundColor);
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    line-height: 1.5;
}

body{
    --navColor: #6CCFF6;
    --foregroundColor: black;
    --backgroundColor: white;
    background: var(--backgroundColor);
}

body.darkMode{
    --navColor: #933009;
    --foregroundColor: white;
    --backgroundColor: black;
    background: var(--backgroundColor);
}

header{
   
    height: calc(4vw + 51px);
    border-bottom: 1px solid var(--foregroundColor);
}

#container{
    position: fixed;
    left: 2vw;
    top: 2vw;
    background: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    border: none;
    transition: 500ms;
    border: 1px solid var(--foregroundColor);
}
#container:focus{
    outline: none;
}
#container:hover{
    transform: scale(0.85);
}


#bar1, #bar2, #bar3{
    display: block;
    width: 26px;
    height: 2px;
    background: var(--foregroundColor);
    margin: 6px 0px;
}
#bar1{
    animation: HmbrgBtnBack1 250ms forwards;
}
#bar2{
    animation: HmbrgBtnBack2 150ms forwards;
}
#bar3{
    animation: HmbrgBtnBack3 250ms forwards;
}

.change #bar1{
    animation: HmbrgBtn1 250ms forwards;
}
.change #bar2{
    animation: HmbrgBtn2 150ms forwards;
}
.change #bar3{
    animation: HmbrgBtn3 250ms forwards;
}

@keyframes HmbrgBtn1{
    40%{ transform: translate(0px, 8px); }
    60%{ transform: translate(0px, 8px); }
    100%{ transform: translate(0px, 8px) rotate(45deg);}
}

@keyframes HmbrgBtn3{
    40%{ transform: translate(0px, -8px); }
    60%{ transform: translate(0px, -8px); }
    100%{ transform: translate(0px, -8px) rotate(-45deg);}
}

@keyframes HmbrgBtn2{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes HmbrgBtnBack1{
    0%{ transform: translate(0px, 8px) rotate(45deg); }
    40%{ transform: translate(0px, 8px) rotate(0deg); }
    60%{ transform: translate(0px, 8px) rotate(0deg); }
    100%{ transform: translate(0px, 0px) rotate(0deg); }
}
@keyframes HmbrgBtnBack2{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes HmbrgBtnBack3{
    0%{ transform: translate(0px, -8px) rotate(-45deg); }
    40%{ transform: translate(0px, -8px) rotate(0deg); }
    60%{ transform: translate(0px, -8px) rotate(0deg); }
    100%{ transform: translate(0px, 0px) rotate(0deg); }
}

.dropDownMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 0vh;
    background: var(--navColor);
    transition: 300ms ease-in-out;
    z-index: 9;
    top: 0;
}
.dropDownMenu a{
    display: block;
    opacity: 0;
    transition: 200ms;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transform: translateY(-100vh);
    margin: 16px 0px;
    text-align: center;
}
.dropDownMenu a:active{
    color: black;
}

.open{
    height: 100vh;
}
.open a{
    opacity: 1;
    transform: translateY(0px);
}
.open a:hover{
    color: white;
}

.logo{
    margin-top: 100px;    
}
body.menuOpen{
    background: var(--navColor);
    transition: 300ms ease-in-out;
    overflow: hidden;
}
body.menuOpen::-webkit-scrollbar {
    visibility: hidden;
}

article{
    width: 80vw;
    border: 1px solid var(--foregroundColor);
    margin: 5vw auto;
    position: relative;
    padding: 2vw;
    color: var(---colorText);
    background: var(--colorBackground);
}
article:after{
    content: '';
    display: block;
    position: absolute;
    width: 70vw;
    height: calc(100% - 10vw);
    bottom: -2px;
    left: -2px;
    border-bottom: 3px solid var(--backgroundColor);
    border-left: 3px solid var(--backgroundColor);

}
article:before{
    content: '';
    display: block;
    position: absolute;
    width: 70vw;
    height: calc(100% - 10vw);
    top: -2px;
    right: -2px;
    border-top: 3px solid var(--backgroundColor);
    border-right: 3px solid var(--backgroundColor);
}

#darkModeDiv{
    position: fixed;
    right: 2vw;
    top: 2vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#colorModeText{
    font-size: calc(0.8vw + 8px);
}
#darkModeBtn{
    position: relative;
    width: 46px;
    height: 25px;
    border-radius: 5vw;
    border: 1px solid var(--foregroundColor);
    background: rgba(0, 0, 0, 0);
    z-index: 10;
}
#darkModeBtn:focus{
    outline: none;
}
#darkModeBtn div{
    width: 21px;
    height: 21px;
    border-radius: 100%;
    margin: 1px 1px;
    background: var(--foregroundColor);
    z-index: 10;
    transition: 200ms;
}
.darkMode #darkModeBtn div{
    transform: translate(100%, 0px);
}

.buyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 10vw;
}

.buy{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--foregroundColor);
    padding: 2vw;
    padding-bottom: calc(2vw + 3ch);
    width: 22vw;
    transition: 200ms ease-in-out;
    font-weight: 400;
    margin: 1ch 0px;
    line-height: auto;
}
.buy .item{
    transition: ease-in-out 200ms;
}
.buy h4{
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    transition: 200ms ease-in-out;
    position: absolute;
    left: 2vw;
    bottom: 1vw;
}

.buy .price{
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    background: rgba(0, 0, 0, 0);
    color: var(--backgroundColor);
    opacity: 0.7;
    font-weight: 600;
}

.buy:hover{
    background: var(--foregroundColor);
}
.buy:hover .item{
    color: var(--backgroundColor);
}
.buy:hover h4{
    color: var(--backgroundColor);
    font-weight: 600;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: var(--foregroundColor);
    top: 1vw;
    left: 50vw;
    transform: translateX(-50%);
    font-weight: 600;
    z-index: 8;
}
.cart img{
    width: 3vw;
    margin-right: 0.6vw;
}
.darkMode .cart img{
    filter: invert();
}

#cart{
    cursor: pointer;
}

#cartDropDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 0vh;
    background: var(--navColor);
    transition: 300ms ease-in-out;
    z-index: 7;
    top: 0;
    left: 0;
}
#cartDropDown li{
    display: block;
    text-align: center;
    opacity: 0;
    transition: 200ms;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    color: var(--foregroundColor);
    transition: 150ms ease-in-out;
    transition-delay: 50ms;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 70vw;
}
#cartDropDown h4{
    position: fixed;
    top: -10vh;
    font-weight: 600;
    font-size: 1.5em;
    transition: 300ms ease-in-out;
}
#cartDropDown ul{
    margin-top: -10vh;
    transition: 150ms ease-in-out;
    transition-delay: 50ms;
}
.cartOpen #cartDropDown{
    height: 100vh;
}
.cartOpen #cartDropDown li{   
    opacity: 1;
    transform: translateY(0px);
    border-bottom: var(--foregroundColor) 1px solid;
}
.cartOpen #cartDropDown h4{
    top: 2ch;
}
.cartOpen #cartDropDown ul{
    margin-top: 7ch;
}